# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Documentation
*.doc
*.docx
*.ppt
*.pptx
*.ppts
*.rtf


*.sln
*.sdf
*.suo
*.opensdf
/DeepIntoMe/Binaries
/DeepIntoMe/DerivedDataCache
/DeepIntoMe/Intermediate
/DeepIntoMe/Saved
/DeepIntoMe/Buglist
/DeepIntoMe/Documentation

/DeepIntoMe 4.9/Binaries
/DeepIntoMe 4.9/DerivedDataCache
/DeepIntoMe 4.9/Intermediate
/DeepIntoMe 4.9/Saved
